services:
  # MQTT Broker - Simulates AWS IoT Core
  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883" # MQTT port
      - "9001:9001" # Websocket port
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  # Time-series DB - Simulates AWS Timestream
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./timescaledb_data:/var/lib/postgresql/data

  # Backend API & Worker
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - mosquitto
      - timescaledb
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - MQTT_BROKER=${MQTT_BROKER}
      - MQTT_PORT=${MQTT_PORT}

  # Vehicle Simulator
  simulator:
    build: ./simulator
    depends_on:
      - mosquitto
    environment:
      - MQTT_BROKER=${MQTT_BROKER}
      - MQTT_PORT=${MQTT_PORT}

  # Frontend Dashboard
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
